{{#each modules}}

# {{module}}

{{#if methods}}

## Methods

{{#each methods}}
<a name="{{name}}"></a>
{{#if name}}
### {{name}}

{{comment}}

#### ►  {{name}}({{#each params}}{{name}}{{#unless @last}}, {{/unless}}{{/each}}):```Promise```.{{{displayedReturnType}}}

```js
fplapi.{{name}}({{#each params}}{{name}}{{#unless @last}}, {{/unless}}{{/each}}).then((data) => console.log(data));
```
{{#if hasParams}}
#### Parameters:

|Name|Type|
|---|---|
{{#each params}}
|{{name}}|{{type}}|
{{/each}}
{{/if}}

#### Returns:
{{#if isObject}}
Promise.{{{displayedReturnType}}}
{{else}}
{{returnType}}
{{/if}}

{{/if}}
___
{{/each}}
{{/if}}

{{/each}}

{{#if dataTypes}}

## Interfaces

{{#each dataTypes}}

<a name="{{anchorName}}"></a>

### {{name}}

|Property|Type
|---|---|
{{#each data}}
|{{name}}|{{{displayType}}}
{{/each}}

<a href="#top">Back to top</a>
___
{{/each}}
{{/if}}

## Notes

The terminology follows that of fpl apis:

* **entry** > fpl managed team
* **event** > gameweek
* **element** > player

