# fpl-api-node (Season 2017-18)

## Methods

{{#each methods}} 
* [{{name}}](#{{name}})
{{/each}}
___

{{#each methods}} 
<a name="{{name}}"></a>
{{#if name}}
### ►  {{name}}({{#each params}}{{name}}{{#unless @last}}, {{/unless}}{{/each}})

{{comment}}

```js
fplapi.{{name}}({{#each params}}{{name}}{{#unless @last}}, {{/unless}}{{/each}}).then((data) => console.log(data));
```
{{#if hasParams}}
#### Parameters:

|Name|Type|
|---|---|
{{#each params}}
|{{name}}|{{type}}|
{{/each}}
{{/if}}

#### Returns:
{{#if isObject}}
Promise&lt;Json&gt;: See <a href="#object-{{returnAnchor}}">{{returnInterfaceName}}</a> for data structure.
{{else}}
{{returnType}}
{{/if}}

{{/if}} 
___
{{/each}}

## Data structures

{{#each dataTypes}} 
* [{{name}}](#{{name}})
{{/each}}

{{#each dataTypes}}

<a name="object-{{anchor}}"></a>
### {{name}}

|Property|Type|Description
|---|---|---|
{{#each data}}
|{{name}}|{{type}}|{{description}}
{{/each}}

<a href="#top">Back to top</a> 
___  
{{/each}}

